:root.theme-dark {
  --text-color-main: #f1b2ce;
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --text-color-subtitle: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --hover-theme-menu-button: #ff006f66;
  --background-color: #00032d;
  --accent-color-alt: #ff0070;
}

.theme-dark .header__label-record {
  display: flex;
}
