:root.theme-light {
  --text-color-main: #353430;
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --text-color-subtitle: #353430;
  --background-image: url(../images/cover-image-light.png);
  --hover-theme-menu-button: #32312d66;
  --background-color: #ffeef6;
  --accent-color-alt: #353430;
}

.theme-light .header__label-record {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --text-color-main: #353430;
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --text-color-subtitle: #353430;
    --background-image: url(../images/cover-image-light.png);
    --hover-theme-menu-button: #32312d66;
    --background-color: #ffeef6;
    --accent-color-alt: #353430;
  }

  .header__label-record {
    display: none;
  }
}
