/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family-main, monospace);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  background-color: var(--dark-color, #000028);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

/* ШАПКА */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--spacing-sm);
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 12px;
  padding-block: 3px;
  color: var(--accent-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-main {
  align-self: center;
  color: var(--main-title-color, #db00ff);
  font-weight: var(--weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title-decor {
  color: var(--dark-color, #000028);
  font-weight: var(--weight-bold);
  background-color: var(--accent-color, #ff0070);
}

.header__description {
  align-self: center;
  background-color: var(--accent-color, #ff0070);
}

.header__label-record {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  color: var(--accent-color, #ff0070);
  text-transform: uppercase;
}

.header__label-record::after {
  content: '';
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color, #ff0070);
  border-left: 1px solid var(--accent-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

/* ОСНОВНАЯ ЧАСТЬ  */

.main {
  margin-block-start: var(--margin-sm);
  /* padding-inline: var(--spacing-sm); */
}

.main p {
  color: var(--text-color-main);
}

.section-title {
  padding-block-end: var(--spacing-md);
  color: var(--accent-color, #ff0070);
  font-weight: var(--weight-bold);
}

.focus-list p {
  padding-block: var(--spacing-sm) var(--spacing-md);
}

.focus-list li:last-child p {
  padding-block-end: 0;
}

.content-section {
  padding: 0 var(--spacing-sm) var(--spacing-sm);
  margin-block-end: var(--margin-sm);
} /*   ПЕРЕМЕННАЯ??? */

.focus-advice__item-title {
  font-weight: var(--weight-normal);
}

.focus-advice__subtitle {
  margin-block-end: var(--spacing-md);
}

.focus-gallery {
  display: grid;
  grid-template-rows: min-content repeat(4, auto);
  row-gap: var(--spacing-sm);
  inline-size: 100%;
}

.picture {
  inline-size: 100%;
}

.content-section:last-child {
  padding-block-end: 0;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: var(--spacing-sm);
  min-block-size: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.focus .focus-reason {
}
.focus-reason__title {
}
.focus-reason__list {
}
.focus-reason__item {
}

.focus-reason__subtitle {
}
.focus-obstacle {
}
.focus-obstacle__title {
}
.focus-obstacle__list {
}
.focus-obstacle__item {
}
.focus-obstacle__subtitle {
}
.focus-advice {
}
.focus-advice__title {
}
.focus-advice__subtitle {
}
.focus-advice__list {
}
.focus-advice__item {
}
.focus-advice__item-title {
}
