:root {
  --font-family-main: 'IBM Plex mono';
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-l: 40px;
  --spacing-xl: 60px;
  --spacing-xxl: 80px;
  --weight-normal: normal;
  --weight-bold: bold;
  --font-size-main: 18px;
  --line-height-main: 23.4px;
  --text-color-main: #f1b2ce;
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --text-color-subtitle: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --hover-theme-menu-button: #ff006f66;
  --background-color: #00032d;
}
